/* assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this at the bottom */
.shiny {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
}

.shiny::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 2.5s infinite;
  pointer-events: none;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}